---
import Layout from "@/layouts/layout.astro";
---

<Layout title="404 Not Found">
    <div class="mt-20 mb-20 flex flex-col gap-4 max-w-2xl items-start">
        <h1 class="font-bold text-2xl mb-4">404 Not Found</h1>
        <p>
            “Man is condemned to be free; because once thrown into the world, he is responsible for everything he does.
            It is up to you to give [life] a meaning.”
        </p>
        <p>― Jean-Paul Sartre</p>
    </div>
</Layout>
