---
import Layout from "@/layouts/layout.astro";
export const prerender = true;
---

<Layout title="Home">
    <article class="mt-20 mb-20 flex flex-col gap-4 max-w-2xl items-start">
        <h1 class="font-bold font-boldonse text-2xl">Ilham An<span class="text-primary">daru</span> Prabowo</h1>
        <p class="mt-4 text-lg">Websitenya belom jadi.</p>
        <p class="mt-4 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nam excepturi accusamus pariatur corrupti
            consectetur adipisci assumenda quidem eaque, eligendi quos unde distinctio sit cupiditate ad neque dolorem
            doloremque ducimus atque! Perferendis deserunt architecto eveniet iste maxime eos temporibus quasi rem quos.
            Sapiente, aut facere!
        </p>
        <p class="mt-4 text-lg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, accusamus ullam. Minus odio ex soluta.
            Exercitationem architecto distinctio, cupiditate asperiores, in veritatis a ipsum aspernatur eius corporis
            obcaecati facere alias.
        </p>
        <p class="mt-4 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium officia, perspiciatis mollitia, animi
            reprehenderit ullam quisquam aliquam dolore totam aliquid similique modi fugiat unde porro, magnam aut
            consequatur quia dolor excepturi natus. In totam quibusdam sapiente corporis quas.
        </p>
        <p class="mt-4 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nam excepturi accusamus pariatur corrupti
            consectetur adipisci assumenda quidem eaque, eligendi quos unde distinctio sit cupiditate ad neque dolorem
            doloremque ducimus atque! Perferendis deserunt architecto eveniet iste maxime eos temporibus quasi rem quos.
            Sapiente, aut facere!
        </p>
    </article>
</Layout>
