---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
    <article>
        <h1 class="font-bold font-boldonse text-2xl">Ilham Andaru Prabowo</h1>
        <p>Adalah seorang programmer dan software engineer.</p>
    </article>
</Layout>
